$mainColors: #191A19;
$textColor: #06090a;
$text2Color: #D3ECA7;
$text3Color: #ff3737;
$pure-white: #dbd4d4;
$navColor: #0d1f11;
$lineBorderColor: #B33030;
$hoverColor: #215218da;

$shadow-img: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
$shadow-img2: linear-gradient(45deg, rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.877));
