@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}

	.nav {
		&-desktop {
			display: block;
		}
	}
}
@media (min-width: 820px) {
    // BTN
    .burger-btn {
        top: 0.4vh;
        right: 1.1vh;
        &__box {
            width: 5vh;
            height: 4vh;
        }
    }

}
@media (max-width: 820px) {

    .nav {
        height: 9vh;
    }
    .shrink {
        height: 9vh;
    }
    
    ///////// CONTACT
	.contact {
        &__text {
            font-size: 2.7rem;
            padding: 1.5em 0.8em 0.8em 0.8em;
            &::before {
                width: 8%;
                left: 45%;
                bottom: 13%;
            }
        }
		&__box {
			flex-direction: column;
            justify-content: center;  
            padding: 1.5em 0.5em;
            &-first {
                input {
                    padding: 1.5em;
                    width: 45vh;
                }
            }
            &-second {
                textarea {
                    width: 45vh;
                }
            }
		}   
        
	}
}
/* @media (min-width: 992px) {
	.nav {
        padding-left: 1.4em;
        justify-content: flex-start;
        height: 9vh;
    }
    .shrink {
        padding-left: 1.4em;
        justify-content: flex-start;
        height: 9vh;
    }
    
} */

@media (min-width: 1200px) {
    .nav {
        justify-content: space-between;
        height: 9vh;
    }
    .shrink {
        justify-content: space-between;
        height: 7vh;
    }
}
