@import './colors';
@import './mixins';
@import './components';
@import './animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--hue-1: 257;
	--hue-2: 47;
	--bg-color-2: #fff;
	--bg-color-transparent: rgba(255, 255, 255, 0, 6);
	--heading-color: hsl(var(--hue-1), 61%, 24%);
	--main-color-2: hsl(var(--hue-2), 100%, 61%);
	--main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
	--hue-1: 257;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: $mainColors;
	font-size: 1.4rem;
}

body.stopScrolling {
	height: 100%;
	overflow: hidden;
}

h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 4.4rem;
	color: $textColor;
	letter-spacing: 4px;
	margin-bottom: 0.4em;
}

h2 {
	color: $text2Color;
	padding: 1em;
	letter-spacing: 1px;
	font-size: 2rem;
}
h3 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: $text2Color;
	padding: 1em 0.2em;
	letter-spacing: 2px;
	font-size: 2rem;
}

// NAV
.shrink {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 100;
	height: 6vh;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid $lineBorderColor;
	background-image: linear-gradient(315deg, #0f2b15f3 50%, #388b29 97%);
	transition: all 0.4s;
	&__text {
		display: flex;
		justify-content: center;
		align-items: stretch;
	}
	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $navColor;
		transform: translateX(-102%);
		transition: transform 0.3s;
		z-index: 10;

		&--active {
			transform: translateX(0);
		}
	}

	&-desktop {
		display: none;
	}
	&__item {
		position: relative;
		color: $text2Color;
		padding: 0.6em 1.6em;
		font-size: 1.8rem;
		text-decoration: none;
		text-align: center;
	}
	&__item,
	&__item::after,
	&__item::before {
		transition: all 0.5s;
	}
	&__one::before,
	&__one::after {
		content: '';
		position: absolute;
		width: 0;
		bottom: 0;
		border-bottom: 2px solid $lineBorderColor;
	}
	&__one::before {
		right: 50%;
	}
	&__one::after {
		left: 50%;
	}
	&__one:hover::before,
	&__one:hover::after {
		width: 45%;
	}
}
.nav {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 100;
	height: 9vh;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid $lineBorderColor;
	background-image: linear-gradient(315deg, #0f2b15f3 50%, #388b29 97%);
	transition: all 0.4s;
	&__text {
		display: flex;
		justify-content: center;
		align-items: stretch;
		margin-top: 1em;
	}
	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $navColor;
		transform: translateX(-100%);
		transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
		z-index: 100;
		&--active {
			transform: translateX(0);
		}
	}

	&-desktop {
		display: none;
	}
	&__item {
		position: relative;
		color: $text2Color;
		padding: 0.6em 1.6em;
		font-size: 1.8rem;
		text-decoration: none;
		text-align: center;
	}
	&__item,
	&__item::after,
	&__item::before {
		transition: all 0.5s;
	}
	&__one::before,
	&__one::after {
		content: '';
		position: absolute;
		width: 0;
		bottom: 0;
		border-bottom: 2px solid $lineBorderColor;
	}
	&__one::before {
		right: 50%;
	}
	&__one::after {
		left: 50%;
	}
	&__one:hover::before,
	&__one:hover::after {
		width: 40%;
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

.title {
	color: $textColor;
}

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}
	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

// Se-Section1

.hero-img {
	position: relative;
	padding: 2em 2em;
	@include heroImges('../img/juanjo.jpg');
	text-align: center;
	height: 100%;
	&__h2 {
		@include colorH2;
		padding: 1em;
	}
	&__h2o {
		position: relative;
		@include colorH2;
		padding: 1em;
		margin-bottom: 0.5em;
		&::before {
			position: absolute;
			content: '';
			width: 6%;
			left: 47%;
			bottom: 15%;
			border-bottom: 1px solid $text2Color;
		}
	}
	&__text {
		font-size: 2rem;
		color: $pure-white;
	}
	&__lokal {
		margin-top: 2em;
	}
	&__lokar {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 1em;
		.texts {
			text-align: start;
			margin-bottom: 1em;
		}
		.imgPhoto {
			margin-top: 2em;
			margin-left: 1em;
			border-radius: 50%;
			border: 2px solid $pure-white;
			width: 33vh;
			height: 33vh;
		}
		.links {
			cursor: pointer;
			color: $lineBorderColor;
			text-decoration: none;
			transition: color 0.5s;
		}
		.links:hover {
			color: $text2Color;
		}
	}
}

//Se-Section2

.working-img {
	position: relative;
	padding: 5em 2em;
	border-top: 1px solid $lineBorderColor;
	border-bottom: 1px solid $lineBorderColor;
	height: 100%;
	background-color: $navColor;
	text-align: center;
	&__h2 {
		@include colorH2;
		color: $text3Color;
		font-size: 2.8rem;
	}
	&__text {
		font-size: 2rem;
		text-align: justify;
		color: $pure-white;
		margin: 0 0 0.9em 0.2em;
	}
	&__text2 {
		font-size: 2rem;
		text-align: justify;
		color: $pure-white;
		margin: 0 0 0.9em 0;
	}
	&__span {
		color: #fec260;
	}
}

//Se-Section3

.skills-img {
	position: relative;
	display: flex;
	padding: 5em 2em;
	@include heroImges2('../img/developer_1920.png');
	text-align: center;
	.box {
		display: flex;
		justify-content: space-around;
	}
	&__h2 {
		text-transform: uppercase;
		font-size: 2.8rem;
		letter-spacing: 2px;
		margin-bottom: 0.5em;
	}
	&__firstBox {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;
		&-one {
			display: flex;
			justify-content: center;
			align-items: center;
			.icon {
				margin: 0 1.5em;
			}
		}
		.par {
			font-size: 1.8rem;
			font-weight: bold;
			color: #27c5cae5;
			margin: 0 1.5em;
		}
	}
	&__secondBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&-one {
			display: flex;
			justify-content: center;
			align-items: stretch;
			&-div {
				display: flex;
				align-items: flex-end;
				flex-direction: column;
				.conteiners {
					display: flex;
					align-items: baseline;
					padding: 0 0 0.5em 0.5em;
					i {
						font-size: 1.7rem;
						padding: 0.3em;
					}
					.icons {
						padding: 0.3em;
						margin-left: 1em;
						color: #e4ad56;
					}
				}

				.textPar {
					color: #27c5cae5;
					font-weight: bold;
					font-size: 1.8rem;
				}
			}
		}
	}
}

//FOOTER ///

.footer {
	color: $pure-white;
	background-color: #101a1f;
	border-top: 1px solid $lineBorderColor;
	h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 2.5rem;
		padding: 0.3em;
	}
	.wrapper {
		padding: 2.5em 2em 2em;
	}
	&__boxes {
		display: flex;
		justify-content: space-around;
	}
	&__box {
		display: flex;
		flex-direction: column;
		font-size: 1.4rem;
	}
	&__box-title {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
		font-size: 2rem;
		text-transform: uppercase;
	}
	&__box-social {
		display: flex;
		justify-content: space-around;
		margin: 2em 0 1em;
		i {
			font-size: 3rem;
		}
	}
	&__box-link {
		padding: 0 0.3em;
		font-size: 3.6rem;
		color: $pure-white;
		text-decoration: none;
		transition: color 0.3s;

		&:first-child {
			padding-left: 0;
		}

		&:hover {
			color: $hoverColor;
		}
	}
	&__bottom-text {
		padding: 1.5em;
		text-align: center;
	}
	&__box-list {
		list-style: none;
	}
	&__box-list-item {
		margin-left: 1em;
		margin-bottom: 0.6em;

		a {
			color: $pure-white;
			text-decoration: none;
			transition: color 0.3s;

			&:hover {
				color: $hoverColor;
			}
		}
	}
}

#map {
	margin-top: 2em;
	height: 50vh;
	width: 100%;
}

.scroll-to-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	padding: 1em 2em;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0);
	border: none;
	transition: all 0.5s, opacity 0.5s, visible 0.5s;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		border: 1px solid #d3eca7;
		border-radius: 50% 50%;
		animation: pulse 3s infinite;
	}
	&:hover {
		transform: scale(0.9);
	}

	img {
		width: 7vh;
		height: 9vh;
		background-color: rgba(0, 0, 0, 0);
	}
}

.active {
	opacity: 1;
	visibility: visible;
}

///////////// CONTACT

.contact {
	background-color: $navColor;
	&__text {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 2.9rem;
		padding: 2em 1em 1em 1em;
		&::before {
			position: absolute;
			content: '';
			width: 6%;
			left: 47%;
			bottom: 15%;
			border-bottom: 1px solid $text2Color;
		}
	}
	&__boxes {
		display: flex;
		justify-content: center;
		margin-top: 0.8em;
		&-page {
			font-size: 2.1rem;
			color: $pure-white;
			width: 56vh;
		}
	}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3em 1em;
		.labelDiv {
			min-height: 3.2rem;
			padding: 1rem;
			display: flex;
			font-size: 1.6rem;
			flex-direction: row;
			align-items: center;
			position: relative;
			line-height: 1.3;
		}

		&-first {
			display: flex;
			flex-direction: column;
			input {
				width: 40vh;
				height: 6vh;
				border-radius: 10px;
				@include labelArea;
			}
		}
		&-second {
			display: flex;
			justify-content: flex-end;
			textarea {
				overflow: auto;
				vertical-align: top;
				border-radius: 6px;
				width: 70vh;
				@include labelArea;
			}
		}
		&-third {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 0 3em 0;

			.space {
				display: flex;
				font-size: 1.8rem;
				.wrapperr {
					.button {
						display: inline-block;
						height: 60px;
						width: 60px;
						margin: 0 0.7em;
						overflow: hidden;
						background: white;
						border-radius: 50px;
						cursor: pointer;
						box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
						transition: all 0.3s ease-out;
						span {
							font-size: 2rem;
							font-weight: 500;
							line-height: 60px;
							margin-left: 0.5em;
							transition: all 0.5s ease-out;
						}
						&:hover:nth-child(1) {
							width: 200px;
						}
						&:hover:nth-child(2) {
							width: 310px;
						}
						&:hover .icon i {
							color: #fff;
						}
						.icon {
							display: inline-block;
							height: 60px;
							width: 60px;
							text-align: center;
							border-radius: 50px;
							box-sizing: border-box;
							line-height: 60px;
							transition: all 0.5s ease-out;
							color: $lineBorderColor;
							i {
								font-size: 2.5rem;
								line-height: 60px;
								transition: all 0.5s ease-out;
							}
						}
						&:nth-child(1):hover .icon {
							background: $lineBorderColor;
						}
						&:nth-child(2):hover .icon {
							background: $lineBorderColor;
						}
						&:nth-child(1) span {
							color: $lineBorderColor;
						}
						&:nth-child(2) span {
							color: $lineBorderColor;
						}
					}
				}
			}

			button {
				padding: 1.5em 2em;
				position: relative;
				background: none;
				border: 1px solid $pure-white;
				color: $pure-white;
				font-size: 1.5rem;
				text-transform: uppercase;
				cursor: pointer;
				overflow: hidden;
			}
			button::before,
			button::after {
				display: block;
				position: absolute;
				content: '';
				transition: all 0.5s;
				z-index: 1;
			}
			.btn {
				border-radius: 0;
				overflow: visible;
				transition: 0.8s;
			}
			.btn::after,
			.btn::before {
				width: 100%;
				height: 100%;
			}
			.btn::before {
				top: 0;
				left: 0;
			}
			.btn::after {
				bottom: 0;
				right: 0;
			}
			.btn:hover {
				border: 1px solid transparent;
				color: #13bb4b;
			}
			.btn:hover::after {
				bottom: -10px;
				right: -10px;
				border-bottom: 5px solid #13bb4b;
				border-right: 5px solid #13bb4b;
			}
			.btn:hover::before {
				top: -10px;
				left: -10px;
				border-top: 5px solid #13bb4b;
				border-left: 5px solid #13bb4b;
			}
		}
	}
}

///////////// PORTFOLIO
.portfolio {
	@include heroImges('../img/laptop-1920.jpg');
	height: 85vh;
	.portfolio-header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding-bottom: 4rem;
		.portfolio-title {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2rem 0;
			.sub-heading {
				font-size: 3rem;
				letter-spacing: 5px;
				position: relative;
				text-align: center;
				&::before {
					position: absolute;
					content: '';
					height: 24%;
					left: -5%;
					bottom: 37%;
					border-left: 2px solid $text3Color;
				}
			}
		}
		.filter-btn {
			display: inline-block;
			color: $text2Color;
			background: none;
			outline: none;
			border: none;
			cursor: pointer;
			font-size: 1.4rem;
			font-weight: 600;
			letter-spacing: 0.4px;
			margin-left: 1.3rem;
			font-family: inherit;
			text-transform: uppercase;
			transition: color 0.5s;
			&:hover {
				color: $text3Color;
			}
		}
	}
	.portfolio-gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
		gap: 4rem;
		padding: 0 0 3em 0;
		.prt-card {
			border-radius: 15px;
			overflow: hidden;
			background-color: var(--bg-color-2);
			height: 265px;
			display: grid;
			grid-template-rows: 1fr auto;
			.prt-image {
				position: relative;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				img {
					width: 102%;
					height: 102%;
				}
				.prt-overlay {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: transparent;
					backdrop-filter: blur(0px);
					display: flex;
					align-items: center;
					justify-content: center;
					pointer-events: none;
					transition: 0.5s;
					.prt-icon {
						color: hsl(var(--hue-1), 61%, 24%);
						margin: 0 0.4rem;
						background-color: var(--main-color-2);
						border-radius: 50%;
						width: 40px;
						height: 40px;
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						transform: translateY(15px);
						transition: 0.3;
						opacity: 0;
						.icon {
							color: $textColor;
							font-size: 2rem;
						}
						.prt-icon:hover {
							background-color: var(--main-color-dark-2);
						}
					}
				}
				&:hover .prt-overlay {
					pointer-events: auto;
					background-color: var(--bg-color-transparent);
					backdrop-filter: blur(10px);
				}
				&:hover .prt-icon {
					transform: translateY(0px);
					opacity: 1;
					transition: 0.3s var(--i);
				}
			}
			.prt-desc {
				padding: 0 1rem 0.7rem 1rem;
				display: flex;
				justify-content: space-between;
				.prt-text {
					color: var(--heading-color);
					font-size: 1.6rem;
					font-weight: 600;
					text-transform: capitalize;
				}
				.btn.secondary-btn.sm {
					padding: 0.07rem 0.8rem;
					font-size: 1.3rem;
					text-decoration: none;
					display: flex;
					justify-content: center;
					align-items: center;
					&:hover {
						color: $text3Color;
					}
				}
			}
		}
	}
	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		z-index: 11;
		pointer-events: none;
		&-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.85);
			opacity: 0;
			transition: 0.3s;
			&--open {
				opacity: 1;
			}
		}
		.slider-wrap {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, calc(-50% + 400px));
			width: 90%;
			max-width: 900px;
			display: grid;
			grid-template-columns: 100px 1fr 100px;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: 0.5s;
			&-open {
				transform: translate(-50%, -50%);
				opacity: 1;
			}
			.navigation {
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
				font-size: 2rem;
				cursor: pointer;
				padding: 2rem;
				pointer-events: auto;
				button {
					position: absolute;
					top: -70px;
					right: 0;
					background: none;
					border: none;
					cursor: pointer;
					pointer-events: auto;
					ion-icon {
						cursor: pointer;
						font-size: 5rem;
						color: $text3Color;
						transition: color 0.6s;
					}
					ion-icon:hover {
						color: $text2Color;
					}
				}
				.icons {
					color: #388b29;
					font-size: 5rem;
				}
			}
		}
		.slider-wrap img {
			width: 100%;
			display: none;
			border-radius: 10px;
		}
		.slider-wrap img.showImage {
			display: block;
		}
	}
}

@import './small';
@import './medium';
@import './large';
